$container-max-widths: (
  xl: 1170px,
);
$link-color: #0eb493;
$header-bg: rgba(16, 22, 54, 0.2);
$body-color: #062033;
$nav-color: #fff;
$font-size-base: 0.813rem;
$line-height-base: 1.62;
// $headings-line-height: 1.62;
$font-family-sans-serif: "Open Sans", sans-serif;
$h1-font-size: 62px;
$teal: #0feb9e;
