$container-max-widths: (
  xl: 1170px,
);
$link-color: #0eb493;
$header-bg: rgba(16, 22, 54, 0.2);
$body-color: #062033;
$nav-color: #fff;
$font-size-base: 0.813rem;
$line-height-base: 1.62;
// $headings-line-height: 1.62;
$font-family-sans-serif: "Open Sans", sans-serif;
$h1-font-size: 62px;
$h2-font-size: 28px;
$h3-font-size: 20px;
$green: #0feb9e;
$headings-padding-top: 70px;
$headings-padding-bottom: 9px;
$bg-light: #f4f7f9;
$teal: #0eb493;
$font-weight-bolder: 800;
$icon-heart-color: #c3c6c7;
$icon-heart-m-bottom: 35px;
$font-weight-semi-bold: 600;
