$container-max-widths: (
  xl: 1170px,
);
$link-color: #0eb493;
$header-bg: rgba(16, 22, 54, 0.2);
$body-color: #062033;
$nav-color: #fff;
$font-size-base: 0.813rem;
$line-height-base: 1.62;
// $headings-line-height: 1.62;
$font-family-sans-serif: "Open Sans", sans-serif;
$font-family-logo: "Pacifico", cursive;
$h1-font-size-lg: 62px;
$h1-font-size: 45px;
$h2-font-size: 28px;
$h3-font-size: 20px;
$h4-font-size: 18px;
$green: #0feb9e;
$headings-padding-top-lg: 70px;
$headings-padding-top-sm: 40px;
$headings-padding-bottom: 9px;
$bg-light: #f4f7f9;
$teal: #0eb493;
$font-weight-semi-bold: 600;
$font-weight-extra-bold: 800;
$icon-heart-color-dark: #ccc;
$icon-heart-color-light: #fff;
$icon-heart-color-footer: rgba(0, 0, 0, 0.3);
$icon-heart-m-bottom-sm: 25px;
$icon-heart-m-bottom: 31px;
$chapter-p-bottom: 46px;
$img-hover-bg: rgba(14, 180, 147, 0.9);
$photo-hover-bg: rgba(14, 180, 147, 0.95);
$input-placeholder-color: #5b646e;
$bg-footer: #1ea78d;
