a {
  text-decoration: none;
}
.main-header {
  background: $header-bg;
  line-height: 1.2;
  position: relative;
  z-index: 1;
  .header {
    height: 70px;
  }
}
.navbar-brand {
  font-family: "Pacifico", cursive;
  font-size: 28px;
  margin-right: 55px;
}
.navbar-nav {
  width: 363px;

  .nav-item {
    .nav-link {
      color: $nav-color !important;
      letter-spacing: 0.6px;
      padding-left: 4px;
      padding-right: 4px;
      padding-top: 32px;
      border-top: 2px solid transparent;
      &:hover {
        border-top: 2px solid #32b0ee;
      }
    }
    .active {
      border-top: 2px solid #32b0ee;
    }
  }
}
.navbar {
  .logo {
    white-space: nowrap;
    padding-top: 20px;
    span {
      position: relative;
      letter-spacing: 0.4px;
      display: block;
      padding-top: 11px;
      color: $nav-color;
      opacity: 30%;
      &:before {
        content: "";
        height: 17px;
        width: 1px;
        position: absolute;
        left: -20px;
        bottom: 5px;
        background: #154458;
      }
    }
  }
}
.carousel {
  margin-top: -70px;
  left: initial;
}
.carousel-indicators {
  left: initial;
  margin-right: 2.4%;
  bottom: 42%;
  li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: none;
    margin-bottom: 14px;
  }
}
.carousel-caption {
  line-height: 51px;
  font-weight: $font-weight-light;
  bottom: 142px;
  h1 {
    font-weight: $font-weight-light;
    margin-bottom: 0;
    padding-right: 7px;
    em {
      font-weight: $font-weight-bold;
      font-style: normal;
    }
  }
  span {
    display: block;
    font-size: 48px;

    em {
      font-style: normal;
      color: $green;
    }
  }
  > strong {
    font-size: 18px;
    position: relative;
    letter-spacing: -0.4px;
    &:before,
    &:after {
      content: "";
      height: 1px;
      width: 28px;
      background: $green;
      position: absolute;
      bottom: 50%;
      left: 0;
      margin-left: -60px;
    }
    &:after {
      left: initial;
      right: 0;
      margin-left: initial;
      margin-right: -60px;
    }
  }
}
.social-icons {
  margin-top: -60px;
  margin-right: 28px;
  position: relative;
  height: 44px;
  li {
    list-style-type: none;
    margin-right: 12px;
    a {
      opacity: 30%;
      font-size: 20px;
      &:hover {
        opacity: 100%;
      }
    }
  }
}
.features-wrapper {
  background: $bg-light;
  margin-bottom: 23px;
}
h2 {
  color: $teal;
  font-weight: $font-weight-extra-bold;
  text-align: center;
  text-transform: uppercase;
  padding-top: $headings-padding-top;
  padding-bottom: $headings-padding-bottom;
  letter-spacing: -0.6px;
  margin-right: 10px;
}
h2 + div {
  position: relative;
  text-align: center;
  margin-bottom: $icon-heart-m-bottom;
  span {
    color: $icon-heart-color;
    font-size: 15px;
  }
  &:before,
  &:after {
    content: "";
    width: 90px;
    height: 1px;
    background-color: $icon-heart-color;
    position: absolute;
    left: calc(50% - 116px);
    bottom: 50%;
  }
  &:after {
    left: initial;
    right: calc(50% - 116px);
  }
}
.features {
  padding-top: 34px;
  padding-bottom: 119px;
  span {
    height: 40px;
    width: 40px;
    min-width: 40px;
    border-radius: 50%;
    border: 1px solid $teal;
    display: block;
    position: relative;
    margin-right: 17px;
    color: $teal;
    &:before {
      content: "\e904";
      position: absolute;
      left: calc(50% - 7px);
      top: calc(50% - 10px);
      font-size: 20px;
    }
  }
  .icon-development-icon {
    &:before {
      content: "\e908";
      left: calc(50% - 8px);
      font-size: 16px;
      top: calc(50% - 8px);
    }
  }
  .icon-consulting-icon {
    &:before {
      content: "\e906";
      left: calc(50% - 8px);
      top: calc(50% - 9px);
      font-size: 19px;
    }
  }
}
.ft-block {
  display: flex;
  padding-left: 25px;
  padding-right: 0;
  position: relative;
  margin-bottom: 30px;
  @include media-breakpoint-up(sm) {
    max-width: 90%;
  }
  @include media-breakpoint-up(md) {
    max-width: 80%;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }
  span {
    position: absolute;
    @include media-breakpoint-up(lg) {
      position: inherit;
    }
  }

  h3 {
    font-weight: $font-weight-semi-bold;
    margin-bottom: 17px;
    @include media-breakpoint-down(lg) {
      margin-left: 50px;
      margin-bottom: 30px;
    }
  }
}

.chapter {
  font-size: 18px;
  font-weight: $font-weight-semi-bold;
  display: block;
  line-height: 1.4;
  padding-bottom: $chapter-p-bottom;
}
.works-nav {
  width: 520px;
  margin: auto;
  margin-bottom: 37px;
  .nav-item {
    margin-left: 9px;
    margin-right: -11px;
  }
  .nav-link {
    color: #062033;
    padding: 4px 20px;
    font-size: 14px;
    font-weight: $font-weight-bold;
    border-radius: 5px;
    &.active {
      background-color: $teal;
    }
  }
}
.images {
  margin-bottom: 24px;
  .item {
    padding: 0;
    position: relative;
    &:hover {
      .read-more {
        visibility: visible;
      }
    }
  }
  img {
    width: 100%;
  }
  .read-more {
    position: absolute;
    background: $img-hover-bg;
    height: 100%;
    width: 100%;
    bottom: 0;
    color: #fff;
    visibility: hidden;
    cursor: pointer;
    span {
      width: 40px;
      height: 40px;
      border: 1px solid #fff;
      border-radius: 50%;
      display: block;
      margin-bottom: 26px;
      position: relative;
      &:before {
        position: absolute;
        top: calc(50% - 5px);
        left: calc(50% - 10px);
        font-size: 11px;
      }
    }
    h4 {
      font-weight: $font-weight-bold;
      margin-bottom: 3px;
    }
    strong {
      font-size: 14px;
      font-weight: $font-weight-normal;
    }
  }
}
.photoes {
  padding-top: 30px;
  margin-bottom: 213px;
  .photo-item {
    width: 23%;
    padding: 0;
    &:hover {
      .text {
        display: block;
      }
      .person {
        span {
          color: $teal;
        }
      }
    }
    img {
      width: 100%;
    }
  }
}
.person {
  padding-top: 14px;
  span {
    display: block;
    font-size: 18px;
    font-weight: $font-weight-semi-bold;
    padding-bottom: 3px;
  }
  strong {
    font-weight: $font-weight-normal;
    color: #73828d;
  }
}
.description {
  position: relative;
}
.text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: $photo-hover-bg;
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding: 17px 23px 0 23px;
  display: none;
  span {
    font-weight: $font-weight-bold;
    margin-bottom: 5px;
    display: block;
  }
  p {
    line-height: 24px;
    margin-bottom: 67px;
  }
  ul {
    margin-right: -6px;
    li {
      list-style-type: none;
      margin-right: 4px;
      a {
        width: 42px;
        height: 42px;
        display: block;
        background: rgba(3, 27, 23, 0.3);
        position: relative;
        &:before {
          font-size: 21px;
          top: calc(50% - 9px);
          left: calc(50% - 10px);
          position: absolute;
        }
      }
    }
  }
}
.icon-ico-fb,
.icon-ico-google-plus {
  &:before {
    font-size: 25px !important;
    top: calc(50% - 12px) !important;
    left: calc(50% - 12px) !important;
  }
}
.facts-wrapper {
  position: relative;
  margin-bottom: 23px;
  img {
    width: 100%;
  }
}
.facts {
  position: absolute;
  top: 0;
  left: calc(50% - 585px);
  padding-top: 23px;
}
.number-facts {
  margin-top: -4px;
  .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
  }
  span {
    width: 130px;
    height: 130px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    display: block;
    border-radius: 50%;
    position: relative;
    margin-bottom: 23px;
    &:before {
      position: absolute;
      top: calc(50% - 18px);
      left: calc(50% - 18px);
      font-size: 38px;
    }
  }
  strong {
    font-size: 60px;
    font-weight: $font-weight-semi-bold;
    margin-bottom: -15px;
  }
  em {
    font-style: normal;
    font-size: 18px;
    text-transform: uppercase;
  }
}
.icon-rocket-icon {
  &:before {
    font-size: 34px !important;
    top: calc(50% - 16px) !important;
    left: calc(50% - 16px) !important;
  }
}
.form-wrapper {
  padding-top: 24px;
  .unit {
    padding: 0;
  }
  span {
    font-size: 22px;
    line-height: 32px;
    display: block;
    margin-bottom: 32px;
    padding-top: 4px;
  }
  address {
    color: #6a737b;
    line-height: 24px;
  }
  strong {
    font-size: 24px;
    font-weight: $font-weight-bold;
    padding-left: 5px;
    padding-bottom: 39px;
    display: block;
  }
}
.registration-form {
  padding-left: 4px;
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 40px;
    padding-bottom: 15px;
    outline: none;
  }
  textarea {
    padding-bottom: 0px;
    line-height: 18px;
  }
  input[type="submit"] {
    font-size: 16px;
    background: #fff;
    border: none;
    outline: none;
    padding-right: 0;
  }
  label {
    &:before {
      font-size: 16px;
      padding-top: 5px;
      padding-right: 5px;
      display: block;
    }
  }
}
.list-icon {
  padding-left: 27px;
  padding-top: 7px;
  li {
    list-style-type: none;
    margin-top: 15px;
    a {
      &:before {
        color: #cdd2d6;
        font-size: 25px;
      }
    }
  }
}
