a {
  text-decoration: none;
}
.main-header {
  background: $header-bg;
  line-height: 1.2;
  position: relative;
  z-index: 1;
  .header {
    min-height: 40px;
    @include media-breakpoint-up(lg) {
      min-height: 70px;
    }
  }
}
.navbar-collapse {
  padding-top: 10px;
  @include media-breakpoint-up(lg) {
    padding-top: 0;
  }
}
.navbar-toggler {
  border: 3px solid $teal !important;
  &:focus {
    box-shadow: none;
  }
}
.navbar-brand {
  font-family: $font-family-logo;
  font-size: 28px;
  margin-right: 55px;
}
.navbar-nav {
  height: 400px;
  position: absolute;
  width: 100%;
  background: #103c2e;
  z-index: 10;
  @include media-breakpoint-up(lg) {
    position: initial;
    width: 363px;
    height: initial;
    background: none;
  }

  .nav-item {
    .nav-link {
      color: $nav-color !important;
      letter-spacing: 0.6px;
      padding: 32px 4px 8px 4px;
      font-size: 16px;
      @include media-breakpoint-up(lg) {
        border-top: 2px solid transparent; //*сделала 2px border, 1px не виден*//
        font-size: 13px;
      }
      &:hover {
        @include media-breakpoint-up(lg) {
          border-top: 2px solid $nav-hover-border-color;
        }
      }
    }
    .active {
      @include media-breakpoint-up(lg) {
        border-top: 2px solid $nav-hover-border-color;
      }
    }
  }
}
.navbar {
  .logo {
    white-space: nowrap;
    padding-top: 5px;
    @include media-breakpoint-up(lg) {
      padding-top: 20px;
    }
    span {
      position: relative;
      letter-spacing: 0.4px;
      display: block;
      padding-top: 11px;
      color: $nav-color;
      opacity: 30%;
      &:before {
        content: "";
        height: 17px;
        width: 1px;
        position: absolute;
        left: -20px;
        bottom: 5px;
        background: #154458;
      }
    }
  }
}
.carousel {
  margin-top: -70px;
  left: initial;
}
.carousel-indicators {
  left: initial;
  margin-right: 3.1%;
  bottom: 43%;
  li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: none;
    margin-bottom: 14px;
  }
}
.carousel-caption {
  line-height: 51px;
  font-weight: $font-weight-light;
  bottom: 17.7%;
  h1 {
    font-weight: $font-weight-light;
    margin-bottom: 0;
    padding-right: 7px;
    @include media-breakpoint-up(lg) {
      font-size: $h1-font-size-lg;
    }
    em {
      font-weight: $font-weight-bold;
      font-style: normal;
    }
  }
  span {
    margin-bottom: 9px;
    display: block;
    font-size: 35px;
    @include media-breakpoint-up(lg) {
      font-size: 48px;
    }

    em {
      font-style: normal;
      color: $green;
    }
  }
  > strong {
    font-size: 15px;
    position: relative;
    letter-spacing: -0.3px;
    @include media-breakpoint-up(lg) {
      font-size: 18px;
    }
    &:before,
    &:after {
      content: "";
      height: 1px;
      width: 28px;
      background: $green;
      position: absolute;
      bottom: 41%;
      left: 0;
      margin-left: -60px;
    }
    &:after {
      left: initial;
      right: 0;
      margin-left: initial;
      margin-right: -60px;
    }
  }
}
.social-icons {
  margin: -70px 28px 16px 0;
  position: relative;
  height: 44px;
  li {
    list-style-type: none;
    margin-right: 12px;
    a {
      opacity: 30%;

      &:before {
        font-size: 18px !important;
      }
      &:hover {
        opacity: 100%;
      }
    }
  }
}
.features-wrapper {
  background: $bg-light;
  padding-top: 10px;
  @include media-breakpoint-up(lg) {
    margin-bottom: 23px;
  }
}
h2 {
  @include block($headings-padding-top-sm);
  @include media-breakpoint-up(lg) {
    @include block($headings-padding-top-lg);
  }
}
.icon-heart-wrapper {
  position: relative;
  text-align: center;
  margin-bottom: $icon-heart-m-bottom-sm;
  @include media-breakpoint-up(lg) {
    margin-bottom: $icon-heart-m-bottom;
  }
  span {
    @include heart($icon-heart-color-dark);
  }
  &:before,
  &:after {
    content: "";
    width: 90px;
    height: 1px;
    background-color: $icon-heart-color-dark;
    position: absolute;
    left: calc(50% - 116px);
    bottom: 35%;
  }
  &:after {
    left: initial;
    right: calc(50% - 116px);
  }
}
.features {
  @include media-breakpoint-up(lg) {
    padding: 34px 0 119px 0;
  }
  span {
    height: 40px;
    width: 40px;
    min-width: 40px;
    border-radius: 50%;
    border: 1px solid $teal;
    display: block;
    position: relative;
    margin-right: 17px;
    color: $teal;
    &:before {
      content: "\e904";
      position: absolute;
      left: calc(50% - 7px);
      top: calc(50% - 10px);
      font-size: 20px;
    }
  }
  .icon-development-icon {
    &:before {
      content: "\e908";
      left: calc(50% - 8px);
      font-size: 16px;
      top: calc(50% - 8px);
    }
  }
  .icon-consulting-icon {
    &:before {
      content: "\e906";
      left: calc(50% - 8px);
      top: calc(50% - 9px);
      font-size: 19px;
    }
  }
}
.ft-block {
  display: flex;
  padding-right: 0;
  position: relative;
  margin-bottom: 30px;
  @include media-breakpoint-up(sm) {
    max-width: 90%;
  }
  @include media-breakpoint-up(md) {
    max-width: 80%;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
    padding-left: 25px;
  }
  span {
    position: absolute;
    @include media-breakpoint-up(lg) {
      position: inherit;
    }
  }

  h3 {
    font-weight: $font-weight-semi-bold;
    margin-bottom: 17px;
    @include media-breakpoint-down(lg) {
      margin-left: 50px;
      margin-bottom: 30px;
    }
  }
}

.chapter {
  margin-left: -6px;
  font-size: 18px;
  font-weight: $font-weight-semi-bold;
  display: block;
  line-height: 1.4;
  padding-bottom: $chapter-p-bottom;
}
.works-nav {
  width: 470px;
  margin: auto;
  margin-bottom: 37px;
  padding-right: 4px;
  @include media-breakpoint-up(md) {
    width: 520px;
  }
  .nav-item {
    @include media-breakpoint-up(md) {
      margin: 0 -11px 0 5px;
    }
  }
  .nav-link {
    color: #062033;
    padding: 3px 17px;
    font-size: 14px;
    font-weight: $font-weight-bold;
    border-radius: 5px;
    @include media-breakpoint-up(md) {
      padding: 4px 20px;
    }
    &.active,
    &:hover {
      background-color: $teal;
      color: $white;
    }
  }
}
.images {
  @include media-breakpoint-up(lg) {
    margin-bottom: 24px;
  }
  .item {
    padding: 0;
    position: relative;
    &:hover {
      .read-more {
        visibility: visible;
      }
    }
  }
  img {
    width: 100%;
  }
  .read-more {
    position: absolute;
    background: $img-hover-bg;
    height: 100%;
    width: 100%;
    bottom: 0;
    color: $white;
    visibility: hidden;
    cursor: pointer;
    span {
      width: 40px;
      height: 40px;
      border: 1px solid $white;
      border-radius: 50%;
      display: block;
      margin-bottom: 26px;
      position: relative;
      &:before {
        position: absolute;
        top: calc(50% - 5px);
        left: calc(50% - 10px);
        font-size: 11px;
      }
    }
    h4 {
      font-weight: $font-weight-bold;
      margin-bottom: 3px;
    }
    strong {
      font-size: 14px;
      font-weight: $font-weight-normal;
    }
  }
}
.photoes {
  margin-bottom: 40px;
  @include media-breakpoint-up(md) {
    margin-bottom: 90px;
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 188px;
    padding-top: 30px;
  }
  .photo-item {
    padding: 0;
    width: 48%;
    margin-bottom: 25px;
    @include media-breakpoint-up(lg) {
      width: 23%;
    }
    &:hover {
      .text {
        display: flex;
      }
      .person {
        span {
          color: $teal;
        }
      }
    }
    img {
      width: 100%;
    }
  }
}
.person {
  padding-top: 14px;
  span {
    display: block;
    font-size: 18px;
    font-weight: $font-weight-semi-bold;
    padding-bottom: 3px;
  }
  strong {
    font-weight: $font-weight-normal;
    color: #73828d;
  }
}
.description {
  position: relative;
}
.text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: $photo-hover-bg;
  color: $white;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: none;
  padding: 14px 15px 0 15px;
  font-size: 14px;
  @include media-breakpoint-up(md) {
    padding: 17px 23px 0 23px;
    font-size: 16px;
  }
  @include media-breakpoint-only(lg) {
    padding: 14px 15px 0 15px;
    font-size: 14px;
  }

  span {
    font-weight: $font-weight-bold;
    margin-bottom: 5px;
    display: block;
  }
  p {
    line-height: 24px;
    margin-bottom: 30px;
    @include media-breakpoint-up(xl) {
      margin-bottom: 67px;
    }
  }
  ul {
    margin-right: -6px;
    li {
      list-style-type: none;
      margin-right: 4px;
      a {
        width: 42px;
        height: 42px;
        display: block;
        background: rgba(3, 27, 23, 0.3);
        position: relative;
        &:before {
          font-size: 21px;
          top: calc(50% - 9px);
          left: calc(50% - 10px);
          position: absolute;
        }
        &:hover:before {
          color: $photo-icon-hover;
        }
        &.icon-ico-google-plus:before {
          top: calc(50% - 10px) !important;
        }
      }
    }
  }
}
.icon-ico-fb,
.icon-ico-google-plus {
  &:before {
    font-size: 25px !important;
    top: calc(50% - 12px) !important;
    left: calc(50% - 12px) !important;
  }
}
.facts-wrapper {
  background: url(../../images/facts-img.jpg);
  background-size: cover;
  margin-bottom: 23px;
  overflow: hidden;
}
.facts {
  padding-top: 23px;
  span {
    @include heart($icon-heart-color-light !important);
  }
}
.number-facts {
  margin-top: -4px;
  @include media-breakpoint-up(lg) {
    padding-bottom: 90px;
    @include media-breakpoint-up(xl) {
      padding-bottom: 150px;
    }
  }
  .block {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }
  span {
    width: 90px;
    height: 90px;
    border: 2px solid $facts-circle-color;
    display: block;
    border-radius: 50%;
    position: relative;
    margin-bottom: 23px;
    @include media-breakpoint-up(lg) {
      width: 130px;
      height: 130px;
    }
    &:before {
      position: absolute;
      top: calc(50% - 13px);
      left: calc(50% - 13px);

      font-size: 28px;
      @include media-breakpoint-up(lg) {
        font-size: 38px;
        top: calc(50% - 19px);
        left: calc(50% - 19px);
      }
    }
  }
  strong {
    font-size: 40px;
    font-weight: $font-weight-semi-bold;

    @include media-breakpoint-up(lg) {
      font-size: 60px;
      margin-bottom: -15px;
    }
  }
  em {
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    @include media-breakpoint-up(lg) {
      font-size: 18px;
    }
  }
}
.icon-rocket-icon {
  &:before {
    font-size: 34px !important;
    top: calc(50% - 16px) !important;
    left: calc(50% - 16px) !important;
  }
}
.discussion {
  margin-bottom: 50px;
  @include media-breakpoint-up(lg) {
    margin-bottom: 103px;
  }
}
.form-wrapper {
  @include media-breakpoint-up(lg) {
    padding-top: 24px;
  }
  .unit {
    padding: 0;
    &:first-child {
      text-align: center;
      margin-bottom: 20px;
      @include media-breakpoint-up(xl) {
        text-align: left;
        margin: 0 2px 0 -3px;
      }
    }
  }
  span {
    font-size: 22px;
    line-height: 32px;
    display: block;
    margin-bottom: 10px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 32px;
      padding-top: 4px;
    }
  }
  address {
    color: #6a737b;
    line-height: 24px;
    a {
      color: #6a737b;
    }
  }
  strong {
    font-size: 24px;
    font-weight: $font-weight-bold;
    padding: 0 0 33px 5px;
    padding-left: 5px;
    padding-bottom: 33px;
    display: block;
    text-align: center;
    @include media-breakpoint-up(lg) {
      text-align: left;
    }
  }
}
.registration-form {
  padding-left: 4px;
  margin-bottom: 20px;
  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 28px;
    padding-bottom: 11px;
    padding-top: 4px;
    outline: none;
    line-height: 27px;
    &::placeholder {
      color: $input-placeholder-color;
    }
  }
  textarea {
    padding-top: 19px;
    line-height: 10px;
  }
  input[type="submit"] {
    font-size: 16px;
    background: $white;
    border: none;
    outline: none;
    padding-right: 0;
  }
  label {
    &:before {
      font-size: 16px;
      padding-top: 5px;
      padding-right: 4px;
      display: block;
      cursor: pointer;
    }
  }
}
.list-icon {
  padding-left: 23px;
  padding-top: 7px;
  li {
    margin-right: 20px;
    list-style-type: none;
    @include media-breakpoint-up(lg) {
      margin-top: 15px;
      margin-right: 0;
    }
    a {
      &:before {
        color: $list-icon-color;
        font-size: 25px;
      }
      &:hover:before {
        color: $teal;
      }
    }
  }
}
.map {
  border-bottom: 5px solid #062033;
  img {
    width: 100%;
    @include media-breakpoint-down(xl) {
      height: 255px;
      object-fit: cover;
      object-position: 30%;
    }
  }
}
.main-footer {
  background: $bg-footer;
  color: $white;
  .logo-footer {
    font-family: $font-family-logo;
    font-size: 28px;
    display: block;
    padding-bottom: 15px;
    @include media-breakpoint-up(lg) {
      padding-bottom: 27px;
    }
  }
  a {
    color: $white;
  }
  p {
    line-height: 24px;
  }
  ul {
    padding-left: 0;
    padding-top: 3px;
    padding-right: 60px;
    @include media-breakpoint-up(lg) {
      padding-right: 40px;
    }
    li {
      list-style-type: none;
      margin-bottom: 11px;
    }
  }
  .span-footer {
    font-size: 14px;
    font-weight: $font-weight-bold;
    padding-top: 19px;
    display: block;
    padding-bottom: 15px;
    @include media-breakpoint-up(lg) {
      padding-bottom: 31px;
    }
  }
}
.footer {
  padding-top: 25px;
  @include media-breakpoint-up(lg) {
    padding-top: 91px;
    padding-bottom: 94px;
  }
  .input-wrapper {
    position: relative;
    width: 272px;
  }
  .txt {
    width: 272px;
    height: 47px;
    background: none;
    border: 2px solid $white;
    border-radius: 3px;
    margin-bottom: 17px;
    margin-top: 8px;
    outline: none;
    padding: 0 50px 0 10px;
    color: $white;
    font-size: 15px;
  }
  .icon-search-arrow {
    background: url(../../svg/search-arrow.svg) no-repeat;
    background-size: 20px 40px;
    border: none;
    right: 5px;
    top: 12px;
    position: absolute;
    width: 40px;
    height: 40px;
    outline: none;
  }
  .icon-heart {
    &:before {
      color: $icon-heart-color-footer;
      font-size: 15px;
      margin: 0 11px 0 9px;
    }
  }
}
.themecurve {
  position: relative;
  padding-left: 26px;
  padding-top: 72px;
  &:before {
    position: absolute;
    content: "";
    height: 39px;
    width: 1px;
    left: 12px;
    top: 76px;
    background: $themecurve-line-color;
  }
  a {
    color: $body-color;
  }
  p {
    margin-bottom: 50px;
  }
  span {
    color: $body-color;
  }
}
