a {
  text-decoration: none;
}
.main-header {
  background: $header-bg;
  line-height: 1.2;
  position: relative;
  z-index: 1;
  .header {
    height: 70px;
  }
}
.navbar-brand {
  font-family: "Pacifico", cursive;
  font-size: 28px;
  margin-right: 55px;
}
.navbar-nav {
  width: 363px;

  .nav-item {
    .nav-link {
      color: $nav-color !important;
      letter-spacing: 0.6px;
      padding-left: 4px;
      padding-right: 4px;
      padding-top: 32px;
      border-top: 2px solid transparent;
      &:hover {
        border-top: 2px solid #32b0ee;
      }
    }
    .active {
      border-top: 2px solid #32b0ee;
    }
  }
}
.navbar {
  .logo {
    white-space: nowrap;
    padding-top: 20px;
    span {
      position: relative;
      letter-spacing: 0.4px;
      display: block;
      padding-top: 11px;
      color: $nav-color;
      opacity: 30%;
      &:before {
        content: "";
        height: 17px;
        width: 1px;
        position: absolute;
        left: -20px;
        bottom: 5px;
        background: #154458;
      }
    }
  }
}
.carousel {
  margin-top: -70px;
  left: initial;
}
.carousel-indicators {
  left: initial;
  margin-right: 2.4%;
  bottom: 42%;
  li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: none;
    margin-bottom: 14px;
  }
}
.carousel-caption {
  line-height: 51px;
  font-weight: $font-weight-light;
  bottom: 142px;
  h1 {
    font-weight: $font-weight-light;
    margin-bottom: 0;
    padding-right: 7px;
    em {
      font-weight: $font-weight-bold;
      font-style: normal;
    }
  }
  span {
    display: block;
    font-size: 48px;

    em {
      font-style: normal;
      color: $green;
    }
  }
  > strong {
    font-size: 18px;
    position: relative;
    letter-spacing: -0.4px;
    &:before,
    &:after {
      content: "";
      height: 1px;
      width: 28px;
      background: $green;
      position: absolute;
      bottom: 50%;
      left: 0;
      margin-left: -60px;
    }
    &:after {
      left: initial;
      right: 0;
      margin-left: initial;
      margin-right: -60px;
    }
  }
}
.social-icons {
  margin-top: -60px;
  margin-right: 28px;
  position: relative;
  height: 44px;
  li {
    list-style-type: none;
    margin-right: 12px;
    a {
      opacity: 30%;
      font-size: 20px;
      &:hover {
        opacity: 100%;
      }
    }
  }
}
.features-wrapper {
  background: $bg-light;
  margin-bottom: 23px;
}
h2 {
  color: $teal;
  font-weight: $font-weight-bolder;
  text-align: center;
  text-transform: uppercase;
  padding-top: $headings-padding-top;
  padding-bottom: $headings-padding-bottom;
  letter-spacing: -0.6px;
}
h2 + div {
  position: relative;
  text-align: center;
  margin-bottom: $icon-heart-m-bottom;
  span {
    color: $icon-heart-color;
    font-size: 15px;
  }
  &:before,
  &:after {
    content: "";
    width: 90px;
    height: 1px;
    background-color: $icon-heart-color;
    position: absolute;
    left: calc(50% - 116px);
    bottom: 50%;
  }
  &:after {
    left: initial;
    right: calc(50% - 116px);
  }
}
.features {
  padding-top: 23px;
  padding-bottom: 119px;
  span {
    height: 40px;
    width: 40px;
    min-width: 40px;
    border-radius: 50%;
    border: 1px solid $teal;
    display: block;
    position: relative;
    margin-right: 17px;
    &:before {
      content: "\e904";
      position: absolute;
      left: calc(50% - 7px);
      top: calc(50% - 10px);
      font-size: 20px;
    }
  }
  .icon-development-icon {
    &:before {
      content: "\e908";
      left: calc(50% - 8px);
      font-size: 16px;
      top: calc(50% - 8px);
    }
  }
  .icon-consulting-icon {
    &:before {
      content: "\e906";
      left: calc(50% - 8px);
      top: calc(50% - 9px);
    }
  }
}
.ft-block {
  display: flex;
  padding-left: 25px;
  padding-right: 0;
  position: relative;
  margin-bottom: 30px;
  @include media-breakpoint-up(sm) {
    max-width: 90%;
  }
  @include media-breakpoint-up(md) {
    max-width: 80%;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }
  span {
    position: absolute;
    @include media-breakpoint-up(lg) {
      position: inherit;
    }
  }

  h3 {
    font-weight: $font-weight-semi-bold;
    margin-bottom: 17px;
    @include media-breakpoint-down(lg) {
      margin-left: 50px;
      margin-bottom: 30px;
    }
  }
}
.works {
  strong {
    font-size: 18px;
    font-weight: $font-weight-semi-bold;
    display: block;
  }
}
